In [2]:
pip install opendatasets --upgrade --quiet

In [3]:
import opendatasets as od
download_url = "https://www.kaggle.com/datasets/shivamb/netflix-shows"
od.download(download_url)

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: mdfaisaluddin
Your Kaggle Key: ··········
Downloading netflix-shows.zip to ./netflix-shows

100%|██████████| 1.34M/1.34M [00:00<00:00, 75.6MB/s]

In [4]:
import pandas as pd

In [5]:
data_filename = './netflix-shows/netflix_titles.csv'

In [6]:
#dataframe
df = pd.read_csv(data_filename)

In [7]:
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [8]:
df.columns.tolist()

['show_id',
 'type',
 'title',
 'director',
 'cast',
 'country',
 'date_added',
 'release_year',
 'rating',
 'duration',
 'listed_in',
 'description']

# **Distribution of content**

# **Based on countries**

In [9]:
c = df.groupby(['country']).size().reset_index(name='counts')
c

                                               country  counts
0                                    , France, Algeria       1
1                                        , South Korea       1
2                                            Argentina      56
3    Argentina, Brazil, France, Poland, Germany, De...       1
4                                     Argentina, Chile       2
..                                                 ...     ...
743                                          Venezuela       1
744                                Venezuela, Colombia       1
745                                            Vietnam       7
746                                       West Germany       1
747                                           Zimbabwe       1

[748 rows x 2 columns]

In [10]:
c.describe()

            counts
count   748.000000
mean     10.663102
std     111.384779
min       1.000000
25%       1.000000
50%       1.000000
75%       1.000000
max    2818.000000

## **Movie distribution based on ratings**

In [11]:
x = df.groupby(['rating']).size().reset_index(name='counts')
x

      rating  counts
0     66 min       1
1     74 min       1
2     84 min       1
3          G      41
4      NC-17       3
5         NR      80
6         PG     287
7      PG-13     490
8          R     799
9      TV-14    2160
10      TV-G     220
11     TV-MA    3207
12     TV-PG     863
13      TV-Y     307
14     TV-Y7     334
15  TV-Y7-FV       6
16        UR       3

In [12]:
x.describe()

            counts
count    17.000000
mean    517.823529
std     878.920875
min       1.000000
25%       3.000000
50%     220.000000
75%     490.000000
max    3207.000000

In [13]:
import plotly.express as px

In [14]:
#Bar chart based on ratings
fig = px.bar(x, x='rating', y='counts')
fig.show()

In [15]:
#Pie chart based on ratings
#color_discrete_sequence=px.colors.qualitative.Set2
fig = px.pie(x, values='counts', names='rating', title='Distribution based on ratings',
      color_discrete_sequence=px.colors.sequential.RdBu)
fig.show()

# **Top 10 Director**

In [16]:
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [17]:
df['director']

0       Kirsten Johnson
1                   NaN
2       Julien Leclercq
3                   NaN
4                   NaN
             ...
8802      David Fincher
8803                NaN
8804    Ruben Fleischer
8805       Peter Hewitt
8806        Mozez Singh
Name: director, Length: 8807, dtype: object

In [18]:
#fill director nan value by 'No Specific Director'
df['director'] = df['director'].fillna('No specified Director')
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,No specified Director,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,No specified Director,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,No specified Director,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,No specified Director,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [19]:
#dataframe
#split director name by coma ,expand it and stack
#convert to data frame
#rename column

filtered_director = pd.DataFrame()
filtered_director = df['director'].str.split(',',expand = True).stack()
filtered_director = filtered_director.to_frame()
filtered_director.columns = ['Director']
filtered_director

                     Director
0    0        Kirsten Johnson
1    0  No specified Director
2    0        Julien Leclercq
3    0  No specified Director
4    0  No specified Director
...                       ...
8802 0          David Fincher
8803 0  No specified Director
8804 0        Ruben Fleischer
8805 0           Peter Hewitt
8806 0            Mozez Singh

[9612 rows x 1 columns]

In [20]:
#groupby Director and name the column Total movie

directors = filtered_director.groupby('Director').size().reset_index(name = 'Total content')
directors

                       Director  Total content
0                Aaron Moorhead              2
1                   Aaron Woolf              1
2      Abbas Alibhai Burmawalla              1
3              Abdullah Al Noor              1
4           Abhinav Shiv Tiwari              1
...                         ...            ...
5116                Çagan Irmak              1
5117           Ísold Uggadóttir              1
5118        Óskar Thór Axelsson              1
5119           Ömer Faruk Sorak              2
5120               Şenol Sönmez              2

[5121 rows x 2 columns]

In [21]:
#sort directors by Total movie number

directors = directors.sort_values(by = ['Total content'], ascending = False)
directors

                   Director  Total content
3684  No specified Director           2634
4021          Rajiv Chilaka             22
4068            Raúl Campos             18
261               Jan Suter             18
4652            Suhas Kadav             16
...                     ...            ...
2341        J. Lee Thompson              1
2342        J. Michael Long              1
610      Songyos Sugmakanan              1
609          Smriti Keshari              1
2560          Joaquín Mazón              1

[5121 rows x 2 columns]

In [22]:
#remove No specified director
#take top 10 directors
directors = directors[directors.Director != 'No specified Director']
directors = directors.head(10)
directors

                 Director  Total content
4021        Rajiv Chilaka             22
4068          Raúl Campos             18
261             Jan Suter             18
4652          Suhas Kadav             16
3235         Marcus Raboy             16
2450            Jay Karas             15
1382  Cathy Garcia-Molina             13
2447          Jay Chapman             12
3306      Martin Scorsese             12
5075      Youssef Chahine             12

In [23]:
fig = px.bar(directors, x="Total content", y="Director", orientation='h')
fig.show()

In [24]:
import plotly.express as px
fig = px.pie(directors, values='Total content', names='Director')
fig.show()

# **Top 10 cast**

In [25]:
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,No specified Director,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,No specified Director,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,No specified Director,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,No specified Director,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [26]:
df['cast']

0                                                     NaN
1       Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...
2       Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...
3                                                     NaN
4       Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...
                              ...
8802    Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...
8803                                                  NaN
8804    Jesse Eisenberg, Woody Harrelson, Emma Stone, ...
8805    Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...
8806    Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...
Name: cast, Length: 8807, dtype: object

In [27]:
#fill cast nan value by 'No Specific Cast'
df['cast'] = df['cast'].fillna('No specified Cast')
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,No specified Cast,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,No specified Director,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,No specified Director,No specified Cast,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,No specified Director,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,No specified Director,No specified Cast,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [28]:
#dataframe
#split cast name by coma ,expand it and stack
#convert to data frame
#rename column

filtered_cast = pd.DataFrame()
filtered_cast = df['cast'].str.split(',',expand = True).stack()
filtered_cast = filtered_cast.to_frame()
filtered_cast.columns = ['Cast']
filtered_cast

                          Cast
0    0       No specified Cast
1    0              Ama Qamata
     1             Khosi Ngema
     2           Gail Mabalane
     3          Thabang Molaba
...                        ...
8806 3        Manish Chaudhary
     4            Meghna Malik
     5           Malkeet Rauni
     6          Anita Shabdish
     7   Chittaranjan Tripathy

[64951 rows x 1 columns]

In [29]:
#groupby Cast and name the column Total movie

casts = filtered_cast.groupby('Cast').size().reset_index(name = 'Total content')
casts

                         Cast  Total content
0                         Jr.              2
1       "Riley" Lakdhar Dridi              1
2                'Najite Dede              1
3                    2 Chainz              1
4                        2Mex              1
...                       ...            ...
39292         İbrahim Büyükak              1
39293        İbrahim Çelikkol              1
39294             Şahin Irmak              1
39295          Şükrü Özyıldız              1
39296            Ṣọpẹ́ Dìrísù              1

[39297 rows x 2 columns]

In [30]:
#sort casts by Total movie number

casts = casts.sort_values(by = ['Total content'], ascending = False)
casts

                     Cast  Total content
37649   No specified Cast            825
2612          Anupam Kher             39
26941        Rupa Bhimani             31
30303    Takahiro Sakurai             30
15541       Julie Tejwani             28
...                   ...            ...
15291   João Fábio Cabral              1
15290         João Côrtes              1
15289       João Assunção              1
15288      Joziah Lagonoy              1
39296        Ṣọpẹ́ Dìrísù              1

[39297 rows x 2 columns]

In [31]:
#remove No specified cast
#take top 10 casts
casts = casts[casts.Cast != 'No specified Cast']
casts = casts.head(10)
casts

                    Cast  Total content
2612         Anupam Kher             39
26941       Rupa Bhimani             31
30303   Takahiro Sakurai             30
15541      Julie Tejwani             28
23624            Om Puri             27
38446     Shah Rukh Khan             26
25410        Rajesh Kava             26
33367          Yuki Kaji             25
23956       Paresh Rawal             25
4186         Boman Irani             25

In [32]:
fig = px.bar(casts, x="Total content", y="Cast", orientation='h')
fig.show()

In [33]:
import plotly.express as px
fig = px.pie(casts, values='Total content', names='Cast')
fig.show()

# **Analyzing content in Netflix**

In [34]:
#datframe
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,No specified Cast,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,No specified Director,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,No specified Director,No specified Cast,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,No specified Director,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,No specified Director,No specified Cast,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [35]:
#datafame column show
df = df[['type','release_year']]
df

         type  release_year
0       Movie          2020
1     TV Show          2021
2     TV Show          2021
3     TV Show          2021
4     TV Show          2021
...       ...           ...
8802    Movie          2007
8803  TV Show          2018
8804    Movie          2009
8805    Movie          2006
8806    Movie          2015

[8807 rows x 2 columns]

In [36]:
#groupby based on release year
release_year = df.groupby(['release_year','type']).size().reset_index(name = "Total content")
release_year

     release_year     type  Total content
0            1925  TV Show              1
1            1942    Movie              2
2            1943    Movie              3
3            1944    Movie              3
4            1945    Movie              3
..            ...      ...            ...
114          2019  TV Show            397
115          2020    Movie            517
116          2020  TV Show            436
117          2021    Movie            277
118          2021  TV Show            315

[119 rows x 3 columns]

In [37]:
#maximum release year
max(release_year['release_year'])

2021

In [38]:
#dataframe condition
release_year[release_year['release_year'] >= 2008]

     release_year     type  Total content
91           2008    Movie            113
92           2008  TV Show             23
93           2009    Movie            118
94           2009  TV Show             34
95           2010    Movie            154
96           2010  TV Show             40
97           2011    Movie            145
98           2011  TV Show             40
99           2012    Movie            173
100          2012  TV Show             64
101          2013    Movie            225
102          2013  TV Show             63
103          2014    Movie            264
104          2014  TV Show             88
105          2015    Movie            398
106          2015  TV Show            162
107          2016    Movie            658
108          2016  TV Show            244
109          2017    Movie            767
110          2017  TV Show            265
111          2018    Movie            767
112          2018  TV Show            380
113          2019    Movie            633
114          2019  TV Show            397
115          2020    Movie            517
116          2020  TV Show            436
117          2021    Movie            277
118          2021  TV Show            315

In [39]:
#show movie
release_year[release_year['type'] == 'Movie']

     release_year   type  Total content
1            1942  Movie              2
2            1943  Movie              3
3            1944  Movie              3
4            1945  Movie              3
6            1946  Movie              1
..            ...    ...            ...
109          2017  Movie            767
111          2018  Movie            767
113          2019  Movie            633
115          2020  Movie            517
117          2021  Movie            277

[73 rows x 3 columns]

In [40]:
#show content more than 100
release_year[release_year['Total content'] > 100]

     release_year     type  Total content
91           2008    Movie            113
93           2009    Movie            118
95           2010    Movie            154
97           2011    Movie            145
99           2012    Movie            173
101          2013    Movie            225
103          2014    Movie            264
105          2015    Movie            398
106          2015  TV Show            162
107          2016    Movie            658
108          2016  TV Show            244
109          2017    Movie            767
110          2017  TV Show            265
111          2018    Movie            767
112          2018  TV Show            380
113          2019    Movie            633
114          2019  TV Show            397
115          2020    Movie            517
116          2020  TV Show            436
117          2021    Movie            277
118          2021  TV Show            315

In [41]:
#line chart
fig = px.line(release_year, x="release_year", y="Total content", color='type')
fig.show()

In [44]:
df = pd.read_csv(data_filename)

In [45]:
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [46]:
df['cast']

0                                                     NaN
1       Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...
2       Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...
3                                                     NaN
4       Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...
                              ...
8802    Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...
8803                                                  NaN
8804    Jesse Eisenberg, Woody Harrelson, Emma Stone, ...
8805    Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...
8806    Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...
Name: cast, Length: 8807, dtype: object

In [49]:
df['cast'].isna().sum()

825